[Unit]
Description=Docker image and stopped container cleaner
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
CPUQuota=10%
IOWeight=1
ExecStart=/usr/local/bin/docker-cleaner \
    --delete \
    --image-retention 168 \
    --stopped-retention 720